<form action="<%= product_assignments_path %>", method="POST">
  <input type="hidden" name="product_id" value="<%= product.id %>">
  <input type="hidden" name="booking_id" value="<%= product.bookings.first.id %>">
  <input type="submit" name="commit" value="Add to booking" class="btn btn-primary">
</form>
