<div class="container d-flex overflow-hidden rounded p-3">
  <%= render "bookings/show_product_booking", product: @product %>
</div>
  <%= render "products/acc_card", { product: @product, booking: @booking } %>
