<% case booking_status %>
  <% when "draft" %>
    <span class="badge badge-light p-3">Draft</span>
  <% when "unconfirmed" %>
    <span class="badge badge-info">Unconfirmed</span>
  <% when "confirmed" %>
    <span class="badge badge-success">Confirmed</span>
  <% when "completed" %>
    <span class="badge badge-secondary">Completed</span>
  <% when "declined" %>
    <span class="badge badge-danger">Declined</span>
  <% else %>
    Unknown status
<% end %>
