<% case booking_status %>
  <% when "draft" %>
    <span class="badge bg-light text-dark">Draft</span>
  <% when "unconfirmed" %>
    <span class="badge bg-info">Unconfirmed</span>
  <% when "confirmed" %>
    <span class="badge bg-success">Confirmed</span>
  <% when "completed" %>
    <span class="badge bg-secondary">Completed</span>
  <% when "declined" %>
    <span class="badge bg-danger">Declined</span>
  <% else %>
    Unknown status
<% end %>
