<div class="banner">
  <div class="container">
    <h1>Rent your bike with BookAppO</h1>
    <p>powered by GroupAppO</p>
    <%= link_to "Find your bike", products_path, class: "btn btn-primary" %>
  </div>
</div>
