<div class="container rounded">
      <div class="card rounded col-5 p-2 w-100">
          <h3>Book this bike?</h3>
          <div class="py-3">
            <%= render "bookings/form", { booking: @booking, product: @product } %>
          </div>
      </div>
    </div>


<%# current_bookings = @product.bookings.filter{ |booking| booking.booking_status == "draft" && current_user == booking.user } %>
    <%# current_booking = current_bookings.last %>
