<div class="card-product col-12 justify-content-end p-3">
<div class="row d-flex">
  <div class="card-product border rounded bg-white shadow">
    <h4 class="py-2 px-1 fw-bold text-center">Previous bookings for this product</h4>
    <% if current_user %>
      <ul>
        <% product.bookings.each do |booking| %>
          <li id="list-no-left-margin" class="list-group-item d-flex justify-content-between px-3">
            <p>🚲  <%= booking.start_date.strftime('%d/%m/%Y') %> - <%= booking.end_date.strftime('%d/%m/%Y') %></p>
            <p>$<%= booking.price.round(0) %></p>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p class="text-center"> Too see previous bookings, please login or register.</p>
    <% end %>
  </div>
</div>
</div>
