<div class="container rounded">
      <div class="card rounded col-5 p-2 w-100 shadow">
          <h4 class="py-2 px-1 fw-bold text-center">Book this bike?</h4>
          <div class="px-3 pb-3">
            <%= render "bookings/form", { booking: @booking, product: @product } %>
          </div>
      </div>
    </div>


<%# current_bookings = @product.bookings.filter{ |booking| booking.booking_status == "draft" && current_user == booking.user } %>
    <%# current_booking = current_bookings.last %>
